.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 65px;
}

.App-row::after {
  content: "";
  clear: both;
  display: table;
}

.App-col {
  width: 33.33%;
  float: left;
  padding: 10px 0 10px 0;
}

.App .Card > div:first-of-type {
  margin-left: 15px;
}

@media (max-width: 1480px) {
  .App .Card > div:first-of-type {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .App-col {
    width: 100%;
    float: left;
  }
  .App-content {
    padding-top: 175px;
    margin: 5px;
  }
  .set-default {
    padding-top: 65px;
  }
  .Header {
    height: auto !important;
  }
  .Header-logo {
    width: 100px;
    text-align: left;
  }
  .Header input {
    width: 100%;
  }
  .Header-form-user {
    margin-top: 0px;
    float: left;
    text-align: left;
  }
  .Header button {
    margin-top: 10px;
  }
  .Card {
    max-width: 320px; /* lowest screen width 320 */
    margin: 0 auto;
  }
}